<div class="card">
  <div class="card-body">
    <h4 class="card-title">ประวัติการรักษา</h4>

    <div class="modal-body">
      <form>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="select" class="required">เลือกการค้นหา</label>
            <select class="form-control" name="select" [(ngModel)]="select">
              <option value="hn">HN</option>
              <option value="cid">CID</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="text" class="required">ข้อมูลการค้นหา</label>
            <input type="text" name="text" id="text" class="form-control" [(ngModel)]="text">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="gitVisit()">ค้นหาการบริการ</button>
    </div>


    ค้นหา :
    <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">
    <table class="table table-striped" [mfData]="items.visit" #mf="mfDataTable" [mfRowsOnPage]="10">
      <thead>
        <tr>
          <th>VN</th>
          <th>HN</th>
          <th>CLN</th>
          <th>วันที่รับบริการ</th>
          <th>เวลารับบริการ</th>
          <th style="width: 50px;">##</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data | grdFilter: {hn: searchText, department:searchText, seq: searchText}">
          <td>
            <h4>{{item.seq}}</h4>
          </td>
          <td>
            <h4>{{item.pid}}</h4>
          </td>
          <td>
            <h4>{{item.department}}</h4>
          </td>
          <td>
            <h4>{{item.date_serv | date: 'yyyy-MM-dd'}}</h4>
          </td>
          <td>
            <h4>{{item.time_serv}}</h4>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn btn-sm btn-gradient-primary" (click)="openEdit(item)"><i
                  class="mdi mdi-arrow-right"></i>
                รายละเอียด</button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<app-modal-detail-visit #mdlVisitDetail (onSave)="onSave($event)"></app-modal-detail-visit>