<div class="card">
  <div class="card-body">
    <h4 class="card-title">บันทึกข้อมูลลูกหนี้ พรบ.รถ </h4>
    <!-- <p class="card-description">
      รายงานตัวชีวัด
    </p> -->
    <!-- <div class="row" *ngIf="userType === 'ADMIN'">
      <div class="col-md-12">
        <button (click)="openDebtor()" class="float-right btn-lg btn btn-sm btn-gradient-success">
          <i class="mdi mdi-plus"></i>
          เพิ่มลูกหนี้
        </button>
      </div>
    </div> -->

    <div class="form-row">
      <div class="form-group col-md-6">
        ค้นหา ชื่อ-สกุล HN :
        <input class="form-control" [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">
      </div>
    </div>

    <table class="table table-striped" [mfData]="items" #mf="mfDataTable">
      <thead>
        <tr>
          <th>hn</th>
          <th>fullname</th>
          <th>namepttype</th>
          <th>date_serv</th>
          <th>diagnosis</th>
          <th>total</th>
          <th class="text-center">สถานะ</th>
          <th style="width: 50px;">##</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data | grdFilter: {fullname: searchText, hn:searchText}">
          <td>
            <h4>{{item.hn}}</h4>
          </td>
          <td>
            <h4>{{item.fullname}}</h4>
          </td>
          <td>
            <h4>{{item.namepttype}}</h4>
          </td>
          <td>
            <h4>{{item.date_serv | date}}</h4>
          </td>
          <td>
            <h4>{{item.diagnosis}}</h4>
          </td>
          <td>
            <h4>{{item.total}}</h4>
          </td>
          <td class="text-center">
            <i class="mdi mdi-check text-success" *ngIf="item.status === 'ACQUIT'"></i>
            <i class="mdi mdi-close text-danger" *ngIf="item.status === 'DEBTOR'"></i>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn btn-sm btn-icon-append btn-gradient-success" (click)="openEdit(item)">
                <i class="mdi mdi-pencil"></i> แก้ไข
              </button>
              <!-- <button class="btn btn-sm btn-gradient-danger" (click)="remove(item)">
                <i class="mdi mdi-delete-outline"></i> ลบ
              </button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-modal-edit-debtor #mdlDebtorIncoth (onSave)="onSave($event)"></app-modal-edit-debtor>