<div class="card">
  <div class="card-body">
    <h4 class="card-title">บันทึกผลงานตัวชี้วัด</h4>
    <!-- <p class="card-description">
      รายงานตัวชีวัด
    </p> -->
    ค้นหา :
    <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">

    <table class="table table-striped" [mfData]="items" #mf="mfDataTable" [mfRowsOnPage]="10">
      <thead>
        <tr>
          <th>ตัวชี้วัด</th>
          <th style="width: 100px;">เป้าหมาย</th>
          <th style="width: 100px;">ผู้รับผิดชอบ</th>
          <th style="width: 50px;">##</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data | grdFilter: {kpi_name: searchText, kpi_scale:searchText, owner: searchText}">
          <td>
            <h4>{{item.kpi_name}}</h4>
          </td>
          <td>
            <h4>{{item.kpi_scale}}</h4>
          </td>
          <td>
            <h4>{{item.owner}}</h4>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn btn-sm btn-gradient-primary" (click)="openRegister(item)"><i
                  class="mdi mdi-arrow-right"></i>
                บันทึก</button>
              <button class="btn btn-sm btn-gradient-primary" (click)="openText(item.kpi_id)">
                รายละเอียด</button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<app-modal-add-kpidata #mdlKpidata (onSave)="onSave($event)"></app-modal-add-kpidata>
<app-modal-detail-kpi #mdlKpiDetail (onSave)="onSave($event)"></app-modal-detail-kpi>