<div class="card">
  <div class="card-body">
    <h4 class="card-title">รายลงทะเบียนผู้รับบริการ</h4>
    <p class="card-description">
      จำนวนผู้รับบริการจากระบบ Smard His Online
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>HN</th>
          <th>ชื่อ - สกุล</th>
          <th>สิทธ์การรักษา</th>
          <th>รันที่ลงทะเบียน</th>
          <th>สถานบริการ</th>
          <th>##</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h4>123</h4>
          </td>
          <td>
            <h4>นายสมดี มีสุช</h4>
          </td>
          <td>
            <h4>พรบ.ประกันสัง</h4>
          </td>
          <td>
            <h4>2019-05-14</h4>
          </td>
          <td>
            <h4>03357</h4>
          </td>
          <td>
            <div class="btn-group">
              <!-- <button class="btn btn-sm btn-icon-append btn-gradient-success" (click)="openEdit(item)">
              <i class="mdi mdi-pencil"></i> แก้ไข
              </button>
              <button class="btn btn-sm btn-gradient-primary" (click)="openEdit(item)">
              <i class="mdi mdi-arrow-right"></i> บันทึก
              </button> -->
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <h4>123</h4>
          </td>
          <td>
            <h4>นายสมดี มีสุช</h4>
          </td>
          <td>
            <h4>พรบ.ประกันสัง</h4>
          </td>
          <td>
            <h4>2019-05-14</h4>
          </td>
          <td>
            <h4>03357</h4>
          </td>
          <td>
            <div class="btn-group">
              <!-- <button class="btn btn-sm btn-icon-append btn-gradient-success" (click)="openEdit(item)">
              <i class="mdi mdi-pencil"></i> แก้ไข
              </button>
              <button class="btn btn-sm btn-gradient-primary" (click)="openEdit(item)">
              <i class="mdi mdi-arrow-right"></i> บันทึก
              </button> -->
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <h4>123</h4>
          </td>
          <td>
            <h4>นายสมดี มีสุช</h4>
          </td>
          <td>
            <h4>พรบ.ประกันสัง</h4>
          </td>
          <td>
            <h4>2019-05-14</h4>
          </td>
          <td>
            <h4>03357</h4>
          </td>
          <td>
            <div class="btn-group">
              <!-- <button class="btn btn-sm btn-icon-append btn-gradient-success" (click)="openEdit(item)">
              <i class="mdi mdi-pencil"></i> แก้ไข
              </button>
              <button class="btn btn-sm btn-gradient-primary" (click)="openEdit(item)">
              <i class="mdi mdi-arrow-right"></i> บันทึก
              </button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>